// -- GENERAL UTILITIES --
.u-center-text { text-align: center; }

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-width-75 { width: 75%; }

.u-div-center { margin: 0 auto; }

// -- GRID --
// Grid containers
.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

// Grid gap values
.gap-2 {
    gap: 2rem;
}

.gap-6 {
    gap: 6rem;
}