// -- GENERAL UTILITIES --
.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-right-negative-big { margin-right: -35rem; }

.u-width-75 { width: 75%; }

.u-div-center { margin: 0 auto; }

// -- GRID --
// Grid containers
.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

// -- FLEXBOX --

.flex-container--column {
    display: flex;
    flex-direction: column;
}

// -- GAP VALUES --
.gap-2 {
    gap: 2rem;
}

.gap-6 {
    gap: 6rem;
}